@font-face {
  font-family: 'iconfont';  /* project id 2393060 */
  src: url('//at.alicdn.com/t/font_2393060_gzk0xchwj6o.eot');
  src: url('//at.alicdn.com/t/font_2393060_gzk0xchwj6o.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2393060_gzk0xchwj6o.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2393060_gzk0xchwj6o.woff') format('woff'),
  url('//at.alicdn.com/t/font_2393060_gzk0xchwj6o.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2393060_gzk0xchwj6o.svg#iconfont') format('svg');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }