@font-face {font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_2393060_uhlumoi1va.eot');
    src: url('//at.alicdn.com/t/font_2393060_uhlumoi1va.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2393060_uhlumoi1va.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2393060_uhlumoi1va.woff') format('woff'),
    url('//at.alicdn.com/t/font_2393060_uhlumoi1va.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2393060_uhlumoi1va.svg#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }